"Ejercicio 2: Crear celda de markdown con título del cuaderno"
# Data Science Tools and Ecosystem

"Ejercicio 3: Crear una celda de Markdown para una introducción"

**_In this notebook, Data Science Tools and Ecosystem are summarized._**

"Ejercicio 10: Insertar una celda de Markdown para enumerar los objetivos"

**Objectives:**
- Learn about libraries and datasets
- Usa of programming languages
- Become familiar with Data Science Tools.

"Ejercicio 4: Crear una celda de Markdown para enumerar los lenguajes de la ciencia de datos"

_Some of the popular languages that Data Scientists use are:_

1. Phyton
2. R
3. SQL

"Ejercicio 5: Crear una celda de Markdown para enumerar las bibliotecas de ciencia de datos"

*Some of the commonly used libraries used by Data Scientists include:*

- Pandas
- Numpy
- Matplolip

"Ejercicio 6: Crear una celda de Markdown con una tabla de herramientas de ciencia de datos"

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Apache Spark|

"Ejercicio 7 - Crear una celda de Markdown que presente ejemplos de expresiones aritméticas"

### Below are a few examples of evaluating arithmetic expressions in Python

"Ejercicio 8 - Crear una celda de código para multiplicar y sumar números"

**This a simple arithmetic expression to mutiply then add integers**

In [11]:
(3*4)+5

17

"Ejercicio 9 - Crear una celda de código para convertir minutos a horas"

**This will convert 200 minutes to hours by diving by 60**

In [12]:
200/60

3.3333333333333335

"Ejercicio 11 - Crear una celda de Markdown para indicar el nombre del autor"

## Author
Paula TF